* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}

.title{
    background-color: #F2F2F2;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    padding: 2%;
}

.first{
    background-color: #F29F05;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    
    
}

.first p{
    padding: 40px 40px 30px 40px;
    text-align: center;
}

.about_me{
    display: flex;
    flex-direction: row;
}

.description{
    font-weight: 200;
    font-size: 20px;
    width: 30%;
    margin-left: 240px;
    padding-bottom: 10px;
    letter-spacing: 2px;
    line-height: 30px;
    padding-top: 40px;
}

.photo{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.photo img{
    width: 200px;
    border-radius: 70px    ;
    
}

.second{
    background-color: #F2F2F2;
    font-size: 30px;
    text-align: right;
    
}

.second p{
    padding: 40px 40px 30px 40px;
    text-align: center;
    font-weight: 600;
}

.my_projects{
    display: flex;
    flex-direction: row;
}

.about_projects{
    font-weight: 200;
    font-size: 20px;
    width: 30%;
    padding-top: 40px;
    margin-right: 240px;
    padding-bottom: 10px;
    letter-spacing: 2px;
    line-height: 30px;
}

.project_photo{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.project_photo img{
    width: 600px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc;
    
}

.description_project{
    font-weight: 200;
    font-size: 20px;
    width: 30%;
    margin-right: 240px;
    padding-bottom: 10px;
    letter-spacing: 2px;
    line-height: 30px;
    padding-top: 40px;
}

.third{
    background-color: #F29F05;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    color: #000000;
    
}

.third p{
    padding: 40px 40px 30px 40px;
    text-align: center;
}

.third form{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    color: #000000;
    padding-bottom: 40px;
}

.third form input{
    background-color: #F29F05;
    color: #000000;
    width: 500px;
    margin-bottom: 5px;
    padding: 10px;
    border: #000000 3px solid;
    box-shadow: 5px 5px 5px #000000;
      -moz-box-shadow: 5px 5px 5px #000000;
      -webkit-box-shadow: 5px 5px 5px #000000;
      -khtml-box-shadow: 5px 5px 5px #000000;
}
.third form input::placeholder{
    color: #000000;
}

.third form textarea{
    background-color: #F29F05;
    width: 500px;
    margin-bottom: 5px;
    padding: 10px;
    border: #000000 3px solid;
    box-shadow: 5px 5px 5px #000000;
      -moz-box-shadow: 5px 5px 5px #000000;
      -webkit-box-shadow: 5px 5px 5px #000000;
      -khtml-box-shadow: 5px 5px 5px #000000;
}

.third form textarea::placeholder{
    color: #000000;
}

#sub{
    font-weight: 900;
}
#sub:hover{
    background-color: #000000;
    color: #F29F05;
    transition: 1s;
    box-shadow: 5px 5px 5px #000000;
      -moz-box-shadow: 5px 5px 5px #000000;
      -webkit-box-shadow: 5px 5px 5px #000000;
      -khtml-box-shadow: 5px 5px 5px #000000;
}

.fourth{
    background-color: #F2F2F2;
    font-size: 30px;
    font-weight: 600;
    text-align: right;
    padding-bottom: 40px;
    text-align: center;
}
#prog{
    width: 80%;
    height: 30px;
}

.fourth p{
    padding: 40px 40px 30px 40px;
    text-align: center;
}

.fourth label, h4{
    font-size: 25px;
}
.fourth input{
    background-color: #000000;
}

.admin{
    background-color: #F29F05;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    color: #000000;
}

.admin form{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    color: #000000;
    padding-bottom: 40px;
}

.admin label{
    padding: 30px;
}

.admin form input{
    background-color: #F29F05;
    color: #000000;
    width: 500px;
    margin-bottom: 5px;
    padding: 10px;
    border: #000000 3px solid;
    box-shadow: 5px 5px 5px #000000;
      -moz-box-shadow: 5px 5px 5px #000000;
      -webkit-box-shadow: 5px 5px 5px #000000;
      -khtml-box-shadow: 5px 5px 5px #000000;
}
.admin form input::placeholder{
    color: #000000;
}

#sub{
    font-weight: 900;
}
#sub:hover{
    background-color: #000000;
    color: #F29F05;
    transition: 1s;
    box-shadow: 5px 5px 5px #000000;
      -moz-box-shadow: 5px 5px 5px #000000;
      -webkit-box-shadow: 5px 5px 5px #000000;
      -khtml-box-shadow: 5px 5px 5px #000000;
}

.error{
    padding-top:2px; 
    padding-bottom: 10px;
    font-weight:600;
    font-size: 20px; 
    color: rgb(85, 0, 0);
}
