* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}

.title{
    background-color: #F2F2F2;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    padding: 2%;
}

.first{
    background-color: #F29F05;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    
    
}

.first p{
    padding: 40px 40px 30px 40px;
    text-align: center;
}

.about_me{
    display: flex;
    flex-direction: row;
}

.description{
    font-weight: 200;
    font-size: 20px;
    width: 30%;
    margin-left: 240px;
    padding-bottom: 10px;
    letter-spacing: 2px;
    line-height: 30px;
    padding-top: 40px;
}

.photo{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.photo img{
    width: 200px;
    border-radius: 70px    ;
    
}

.second{
    background-color: #F2F2F2;
    font-size: 30px;
    font-weight: 600;
    text-align: right;
    
}

.second p{
    padding: 40px 40px 30px 40px;
    text-align: center;
}

.my_projects{
    display: flex;
    flex-direction: row;
}

.about_projects{
    font-weight: 200;
    font-size: 20px;
    width: 30%;
    padding-top: 40px;
    margin-right: 240px;
    padding-bottom: 10px;
    letter-spacing: 2px;
    line-height: 30px;
}

.project_photo{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.project_photo img{
    width: 600px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc;
    
}

.third{
    background-color: #F29F05;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    
}

.third p{
    padding: 40px 40px 30px 40px;
    text-align: center;
}

.fourth{
    background-color: #F2F2F2;
    font-size: 30px;
    font-weight: 600;
    text-align: right;
    padding-bottom: 40px;
    text-align: center;
}

progress{
    width: 1000px;
    
}


.fourth p{
    padding: 40px 40px 30px 40px;
    text-align: center;
}